.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  color: white;
  padding: 15px 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.links a:hover {
  color: yellow;
}